.menu-section {
  background-color: #ff8801;
  height: 100vh;
}
.image-section {
  background-color: #16191e;
  height: 100vh;
}
.menu-icon {
  height: 24px;
  width: 24px;
}
.big-text {
  font-size: 6.5rem;
  line-height: 0.9;
}
.cover-image {
  max-height: 100vh;
  width: 100%;
}
